body{
    background: black;

}
.lds-dual-ring {

    display: block;


    margin: 0 auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    position: absolute;
    left: 45%;
    right: 44%;
    top: 40%;
    /*border-radius: 50%;*/
    /*border-color: #4769ff transparent #4769ff transparent;*/
    animation: lds-dual-ring 8s ;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
        width: 80px;
        height: 80px;
        border: 10px solid #4769ff;
        border-radius: 50%;
        border-color: #4769ff transparent #4769ff transparent;
    }
    25% {
        transform: rotate(360deg);
        width: 80px;
        height: 80px;
        border: 10px solid #4769ff;
        border-radius: 50%;
        border-color: #4769ff transparent #4769ff transparent;
    }
    50% {
        transform: rotate(720deg);
        width: 80px;
        height: 80px;
        border: 10px solid #4769ff;
        border-radius: 50%;
        border-color: #4769ff transparent #4769ff transparent;

    }
    75% {
        transform: rotate(1080deg);
        width: 80px;
        height: 80px;
        border: 10px solid #4769ff;
        border-radius: 50%;
        border-color: #4769ff transparent #4769ff transparent;

    }
    100% {
        transform: rotate(1440deg);
        width: 80px;
        height: 80px;
        border: 10px solid #4769ff;
        border-radius: 50%;
        border-color: #4769ff transparent #4769ff transparent;

    }
}